<div class="form-check form-switch mb-4" title="{f:translate(id: 'LLL:EXT:typo3-interactive-tour/Resources/Private/Language/locallang_mod.xlf:overview.toursEnabled.description')}">
    <input class="form-check-input" type="checkbox" value="" id="switch-off-tours" {f:if(condition: '{toursEnabled}', then: 'checked', else: '')}>
    <label class="form-check-label" for="switch-off-tours">{f:translate(id: 'LLL:EXT:typo3-interactive-tour/Resources/Private/Language/locallang_mod.xlf:overview.toursEnabled', default: 'Tours enabled')}</label>
</div>